<!DOCTYPE html>
<html>
    <head>
        <title>Top 10 atp players</title>
        <link rel='stylesheet' href='/styles/main.css' />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body style="text-align: center;">
        <h1>
            Top 10 atp players
        </h1>
        <div id="table-update" style="text-align: center;">
            <table>
                <tr>
                    <th width="20px">Atp</th>
                    <th width="80px">First Name</th>
                    <th width="120px">Last Name</th>
                    <th width="100px">Country</th>
                    <th width="50px">Height(cm)</th>
                    <th width="50px">Weight(kg)</th>
                    <th width="80px">Strong hand</th>
                    <th width="100px">Racket</th>
                    <th width="150px">Coach</th>
                    <th width="100px">Tournament</th>
                    <th width="50px">Tier</th>
                    <th width="50px">Result</th>
                </tr>
                <% for(var j=0; j<players.length; j++){ %>
                <tr>
                    <td><%= players[j].atp_rank %></td>
                    <td><%= players[j].first_name %></td>
                    <td><%= players[j].last_name %></td>
                    <td><%= players[j].country %></td>
                    <td><%= players[j].height %></td>
                    <td><%= players[j].weight %></td>
                    <td><%= players[j].strong_hand %></td>
                    <td><%= players[j].racket %></td>
                    <td><%= players[j].coach %></td>
                    <td><%= players[j].city %></td>
                    <td><%= players[j].tier %></td>
                    <td><%= players[j].result %></td>
                </tr>
                <% } %>
            </table>
        </div><br/>
        <div class="form-center">
            <form>
                <select name="playersFilter" onchange="setAttr(this.value)" class="btn2" style="width: 200px;">
                    <option value="all">All Attributes(wildcard)</option>
                    <option value="atprank">Atp Rank</option>
                    <option value="firstname">First Name</option>
                    <option value="lastname">Last Name</option>
                    <option value="country">Country</option>
                    <option value="height">Height</option>
                    <option value="weight">Weight</option>
                    <option value="stronghand">Strong Hand</option>
                    <option value="racket">Racket</option>
                    <option value="coach">Coach</option>
                    <option value="city">Tournament</option>
                    <option value="tier">Tier</option>
                    <option value="result">Result</option>
                </select>
            </form>
            <form onkeydown="return event.key != 'Enter';">
                <label for="query">Enter value: </label>
                <input type="text" id="query" name="query">
                <input type="button" id="submit" class="btn2" value="Search" name="submit" onclick="showPlayers(document.getElementById('query').value)"></input>
            </form> 
        </div>
        <div class="form-center">
            Download data in JSON format:  
            <button class="btn2"><a href="\opendata\filter_players.json" class="btn-text" download>Download</a></button>
        </div><br/>
    <script src="../scripts/logic.js" async defer></script>
    </body>
</html>